.text-align-right{
  text-align: right;
}
.dFlex{
  display: flex;
}
.justify-content-right{
  justify-content: right;
}
.justify-content-spaceEvenly{
  justify-content: space-evenly;
}
.justify-content-spaceBetween{
  justify-content: space-between;
}
.justify-content-spaceAround{
  justify-content: space-around;
}
.positionRelative{
  position: relative;
}
.positionAbsolute{
  position: absolute;
}
.text-align-center{
  text-align: center;
}
.place-content-center{
  place-content: center;
}
.marginAuto{
  margin: 0 auto;
}
.col-33{
  width: 33.3%;
}
.fRight{
  float: right;
}
.w-100{
  width: 100%;
}
.margin_10{
  margin: 10px;
}